.registerWrapper {
    background-image: url("https://internshala.com/static/images/registration/student_new/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}